body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.left_img {
    width: 40%;
    position: relative;
}

.bg_img {
    width: 100%;
    height: auto;
}

.logo {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 100%;
    height: 15%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    background-color: rgba(0, 0, 0, 0.352);
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.logo_img {
    width: 15%;
    height: auto;
}

h3 {
    margin-left: 24px;
}

.main_form {
    width: 100%;
    height: 60%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    border: 1px solid black;
    box-shadow: inset;

    background-color: #fdc500;
}

.footer_section {
    background-color: #00509d;
    color: white;

    padding: 16px;
    height: auto;
}

.right_form {
    width: 60%;
    height: 100vh;

    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    align-items: center;
    gap: 36px;

}

.col_1,
.col_2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 16px;
}

.header_text {
    background-color: #00509d;
    color: white;

    height: 25%;
    padding: 16px;
}

.row {
    display: flex;
    flex-direction: column;

    color: white;

    padding-left: 12px;
    padding-right: 120px;
}

button {
    width: 30%;
    padding: 4px;
    margin-top: 16px;
    margin-left: 24px;

    border-radius: 8px;
}

input {
    width: 140%;
}